*.class
*~
.project/*
.project
.classpath
target/

#eclipse.gitignore
*.pydevproject
.metadata
.gradle
bin/*
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

#devint
!bin/Alire.txt
!bin/execution.bat
!bin/RegleAPI.txt
